<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MessageQueueName" value=".\MsmqTRansferFileQueue"/>
    <add key ="FolderToCopy" value="C:\\DefaultServerFolder\\"/>
    <add key ="SingleMessageIdentificator" value="100"/>
    <add key ="MultipleMessageStartIdentificator" value="-1"/>
    <add key ="MultipleMessageEndIdentificator" value="-2"/>
    <add key ="MultipleCommonMessageIdentificator" value="250"/>
  </appSettings>
</configuration>