<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MessageQueueServerName" value=".\Private$\MsmqTRansferFileQueue"/>
    <add key ="MonitoringFolder" value="C:\\DefaultFolder\\"/>
    <add key="WatcherFileType" value="*.pdf"/>
    <add key ="SizeOfChunks" value="3000000"/>
  </appSettings>
</configuration>